
* {
    -primary-bg-color: rgb(50,50,50);
    -dark-bg-color: rgb(35,35,35);
    -light-bg-color: rgb(60,60,60);
    -highlight-color: rgb(255,255,255);
    -font-color: rgb(255,255,255);
    -dark-highlight-color: rgb(0,0,0);
}


.text-field {
	-jfx-focus-color: rgb(50,50,255);
	-jfx-unfocus-color: -highlight-color;
	-fx-prompt-text-fill: -highlight-color;
	-fx-text-fill: -font-color;
	-fx-background-color: -dark-bg-color;
	-jfx-label-float: False;
	-fx-font-size: 12;
}

#loading-text {
	-fx-text-fill: -font-color;
	-fx-background-color: -primary-bg-color;
	-fx-font-size: 10;
}

.combo-box {
	-fx-background-color: -light-bg-color;
}

.combo-box .list-cell {
	-fx-text-fill: -font-color;
	-fx-background-color: -light-bg-color;
	-fx-alignment: center;
}

#settings-root {
	-fx-background-color: -primary-bg-color;
}

#button {
	-fx-background-color: -dark-highlight-color;
	-fx-text-fill: -font-color;
	-fx-font-weight: bold;
}

#checkbox {
	-jfx-checked-color: GREY;
	-fx-text-fill: -font-color;
}

#static-text{
	-fx-text-fill: -font-color;
}

#chat-input {
	-fx-background-color: -dark-bg-color;
	-fx-text-fill: -font-color;
}

#borderpane {
	-fx-background-color: -primary-bg-color;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: -dark-bg-color;
}

.jfx-tab-pane .tab-selected-line {
	-fx-background-color: -highlight-color;
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}